doctype 5
html(lang="en")
  head
    title GooHoo! Search Engine
    meta(charset="utf-8")
    
    // Bootstrap Core CSS
    link(href="vendor/bootstrap-3.0.0/dist/css/bootstrap.css", rel="stylesheet")

    // Google Web Fonts
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,700italic,300italic", rel="stylesheet")
    
    // GooHoo CSS
    link(href="main.css", rel="stylesheet")

    // jQuery
    script(src="vendor/jquery-1.10.2/jquery-1.10.2.js")
    script(src="main.js")

  body
    div.container
      // the top part of the page
      div.row
        // The form with its search bar and 3 search options
        form.form(role="form", action="/search", method="GET")
          div.col-md-6(style="font-size: 11px; vertical-align: bottom;")
            // GooHoo logo
            a(href="/")
              img(src="assets/GooHoo.png", alt="GooHoo", style="padding-top: 20px;", width="250", height="64")
            |  Image Search Engine

      div.row(style="font-size: 13px; color: #999; padding-top: 10px;")
        | Results found: #{results.length} (Query took #{elapsed[0]}.#{elapsed[1]} seconds)

      // search results
      form#rfform(method="GET", action="/feedback")
        input(type="hidden", name="query", value=query)
        for result in results
          div.result-block
            div.result-image-wrapper
              img.result-image(src="/images/" + result.filename)
            span= result.filename
            small.text-muted  (score: #{result.score})
            //-input(name="q[]", value=result.docid, type="checkbox")
            //-small  Relevant

    div#popover
      p 
        strong Relevance Feedback
      p
        small There are 
          strong 
            span#numdocs 0
          |  documents selected for relevance feedback.
      p
        button.btn.btn-primary#submitrf Submit

//- vim: set ts=2 sw=2 et:
